body {
  margin: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  background-color: #FFFDE7; 
}


#heading {
  font-family: Salsa;
  font-size: calc(1.525rem + 3.3vw);
  color: #FFFF00;
}

.fish-image-card {
  height: 100%;
  width: 350px;
  
}

.home-page {
  background-color: #FFFDE7;
}

.global-links {
  color: #F9A825;
  
}

.global-links:hover {
  color: #F57F17;
  
}

.modal-backdrop {
  display: none;
  z-index: 1040 !important;
}

.modal-content {
  margin: 2px auto;
  z-index: 1100 !important;
}

/* FormDemo.css */

.form-demo .card {
  min-width: 450px;
}
.form-demo .card form {
  margin-top: 2rem;
}
.form-demo .card .field {
  margin-bottom: 1.5rem;
}
@media screen and (max-width: 960px) {
  .form-demo .card {
      width: 80%;
  }
}
@media screen and (max-width: 640px) {
  .form-demo .card {
      width: 100%;
      min-width: 0;
  }
}

.container-fluid{
  background-color:#ECF6F6;
}

.d-inline{
  width: 80px;
  height: 70px;
}

.bg-image{
  width: 100vw;
  max-height: 100vh;
}

.splash-top{
  position: absolute;
  background-image: linear-gradient(to top, rgba(255,0,0,0), rgba(229,247,252,100));
  width: 100vw;
  height: 100px;
}

.splash-bottom{
  position: absolute;
  bottom: 0px;
  background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(229,247,252,100));
  width: 100vw;
  height: 100px;
}

.navbar{
  box-shadow: none;
} 

.nav_item{
  position: absolute;
  left: 0px;
}

.nav_items{
  color: #3b4257;
}

.global-links:hover{
  text-decoration: underline;
  color: rgba(0,0,0,.9);
} 

#MapTitle{
  text-align: center;
  margin-top: 2%;
}

#MapInstructions {
  text-align: center;
}

#MapBox {
  border: 8px solid #F9A825;
  border-radius: 1%;
  position: relative;
  max-width: 1000px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin:auto;
  display: flex;
  place-items: center;
} 