body {
  margin: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  background-color: #FFFDE7; 
}


#heading {
  font-family: Salsa;
  font-size: calc(1.525rem + 3.3vw);
  color: #FFFF00;
}

.fish-image-card {
  height: 100%;
  width: 350px;
  
}

.home-page {
  background-color: #FFFDE7;
}

.global-links {
  color: #F9A825;
  
}

.global-links:hover {
  color: #F57F17;
  
}

.modal-backdrop {
  display: none;
  z-index: 1040 !important;
}

.modal-content {
  margin: 2px auto;
  z-index: 1100 !important;
}

/* FormDemo.css */

.form-demo .card {
  min-width: 450px;
}
.form-demo .card form {
  margin-top: 2rem;
}
.form-demo .card .field {
  margin-bottom: 1.5rem;
}
@media screen and (max-width: 960px) {
  .form-demo .card {
      width: 80%;
  }
}
@media screen and (max-width: 640px) {
  .form-demo .card {
      width: 100%;
      min-width: 0;
  }

}

.container-fluid{
  background-color:#ECF6F6;
}

.d-inline{
  width: 80px;
  height: 70px;
}

.bg-image{
  width: 100vw;
  max-height: 100vh;
}

.splash-top{
  position: absolute;
  background-image: linear-gradient(to top, rgba(255,0,0,0), rgba(229,247,252,100));
  width: 100vw;
  height: 100px;
}

.splash-bottom{
  position: absolute;
  bottom: 0px;
  background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(229,247,252,100));
  width: 100vw;
  height: 100px;
}

.about{
  position: absolute;
  width: 600px;
  height: 250px;
  background-color: gray;
  top: 50px;
  left: 100px;
  border-radius: 1em;
  opacity: 50%;
}

.navbar{
  box-shadow: none;
} 

.weather_icon{
  background-color: gray;
  border-radius: 50%;
  margin: 6px;
}

.weather{
  display: flex;
  align-items: center;
}

.navbar-brand{
  z-index: 1000;
}

.nav_item{
  position: absolute;
  left: 0px;
}

.nav_items{
  color: #3b4257;

}

.global-links:hover{
  text-decoration: underline;
  color: rgba(0,0,0,.9);
} 

#MapTitle{
  text-align: center;
  margin-top: 2%;
}

#MapInstructions {
  text-align: center;
}

#MapBox {
  border: 8px solid #F9A825;
  border-radius: 1%;
  position: relative;
  max-width: 1000px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin:auto;
  display: flex;
  place-items: center;
} 

#catchButton{
  display: flex;
  text-align: center;
}

/* #newFish{
  position: absolute;
  right: 90%;
  top: 1%;
  max-width: 50px;
  height: auto;
  z-index: 100;
  cursor:pointer;
} */

/* upload image */

html {
  font-size: 14px;
}

body {
  background-color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  font-weight: normal;
  color: #495057;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: .5em;
  margin-bottom: 50px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1.5rem 0 1rem 0;
  font-family: inherit;
  font-weight: 600;
  line-height: 1.2;
  color: inherit;
}

h1 { font-size: 2.5rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.75rem; }
h4 { font-size: 1.5rem; }
h5 { font-size: 1.25rem; }
h6 { font-size: 1rem; }
p {
  line-height: 1.5;
  margin: 0 0 1rem 0;
}

.card {
  margin-bottom: 2rem;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@keyframes pulse {
  0% {
      background-color: rgba(165, 165, 165, 0.1)
  }
  50% {
      background-color: rgba(165, 165, 165, 0.3)
  }
  100% {
      background-color: rgba(165, 165, 165, 0.1)
  }
}

.customer-badge {
  border-radius: 2px;
  padding: .25em .5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: .3px;
}

.customer-badge.status-qualified {
  background-color: #C8E6C9;
  color: #256029;
}

.customer-badge.status-unqualified {
  background-color: #FFCDD2;
  color: #C63737;
}

.customer-badge.status-negotiation {
  background-color: #FEEDAF;
  color: #8A5340;
}

.customer-badge.status-new {
  background-color: #B3E5FC;
  color: #23547B;
}

.customer-badge.status-renewal {
  background-color: #ECCFFF;
  color: #694382;
}

.customer-badge.status-proposal {
  background-color: #FFD8B2;
  color: #805B36;
}

.product-badge {
  border-radius: 2px;
  padding: .25em .5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: .3px;
}

.product-badge.status-instock {
  background: #C8E6C9;
  color: #256029;
}

.product-badge.status-outofstock {
  background: #FFCDD2;
  color: #C63737;
}

.product-badge.status-lowstock {
  background: #FEEDAF;
  color: #8A5340;
}

.order-badge {
  border-radius: 2px;
  padding: .25em .5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: .3px;
}

.order-badge.order-delivered {
  background: #C8E6C9;
  color: #256029;
}

.order-badge.order-cancelled {
  background: #FFCDD2;
  color: #C63737;
}

.order-badge.order-pending {
  background: #FEEDAF;
  color: #8A5340;
}

.order-badge.order-returned {
  background: #ECCFFF;
  color: #694382;
}

.image-text {
  vertical-align: middle;
  margin-left: .5rem;
}

.p-multiselect-representative-option {
  display: inline-block;
  vertical-align: middle;
}

.p-multiselect-representative-option img {
  vertical-align: middle;
  width: 24px;
}

.p-multiselect-representative-option span {
  margin-top: .125rem;
}

.p-column-filter {
  width: 100%;
}

.country-item {
  display: flex;
  align-items: center;
}

.country-item img.flag {
  width: 18px;
  margin-right: .5rem;
}

.flag {
  vertical-align: middle;
}

span.flag {
  width:44px;
  height:30px;
  display:inline-block;
}

img.flag {
  width:30px
}

                  